{% extends 'include/base.html' %}
{% load static %}
{% load bootstrap4 %}
{% block title %}Главная{% endblock title %}
{% block content %}
<div class="stocks mainpage"> 
    <table class="table">
        <thead class="thead-stocks">
          <tr>
            <th scope="col">#</th>
            <th scope="col">Название</th>
            <th scope="col">Актуальная стоимость</th>
          </tr>
        </thead>
        <tbody id = 'maintable'>
            
        </tbody>
      </table>
      <input type="hidden" id="myVar" name="variable" value="{{ url }}">
</div>
</div>
<script> 
    async function drawTable(url){
        var data = fetch(url).then(function(response) {
            return response.json();
        }).then(function(data) {
            console.log(data);

            var table = document.getElementById('maintable');
            for (var i = 0; i < data.length; i++) {
                table.innerHTML += '<tr> <th scope="row">' + i + '</th>';
                table.innerHTML += '<td>' + data[i]['lastSalePrice'] + '</td> </tr>';
            }
    
        }).catch(function() {
            console.log("Error");
        });
    }
    var url = document.getElementById("myVar").value;
    drawTable(url);
</script>
{% endblock content %}