{% extends 'include/base.html' %}
{% load static %}
{% load bootstrap4 %}
{% block title %}Главная{% endblock title %}
{% block content %}
<div class="stocks mainpage"> 
    <table class="table">
        <thead class="thead-stocks">
          <tr>
            <th scope="col">#</th>
            <th scope="col">Название</th>
            <th scope="col">Актуальная стоимость</th>
          </tr>
        </thead>
        <tbody id = 'maintable'>
            
        </tbody>
      </table>
      <input type="hidden" id="myVar" name="variable" value="{{ url }}">
      <input type="hidden" id="myVar2" name="variable" value="{{ key }}">
</div>
</div>
<script> 
    async function drawTable(url, key){
        var names = ['AAPL', 'IBM', 'FB', 'MSFT', 'AMZN', 'NVDA', 'PEP', 'CSCO', 'INTC', 'AMD', 'TXN', 'NLFX', 'PYPL', 'HD', 'V', 'MA', 'PFE', 'KO']
        var table = document.getElementById('maintable');
        table.innerHTML = '';
    
        for (var i=0; i < names.length; i++) {
            console.log(url+ names[i]+ key)
            var data = fetch(url+ names[i]+ key).then(function(response) {
                return response.json();
            }).then(function(data) {
                table.innerHTML += '<tr> <th scope="row">'  + '</th>' + "<td> <a href='/stockpage/"+ data[0]['symbol'] +"'>" + data[0]['symbol'] + '</td>' + '<td>' + data[0]['price'] + '</td> </tr>';
            }).catch(function() {
                console.log("Error");
            });
        }
    }
    var url = document.getElementById("myVar").value;
    var key = document.getElementById("myVar2").value;
    drawTable(url, key);
    setTimeout(function () {
        drawTable(url, key)
        }, 180000);
</script>
{% endblock content %}